<div class="gem-wrapper">
  <img class="footer-logo" src="../../../../assets/679-6799109_logo-gem-png.png"/>
  <div class="footer-nav">
    <a href="#">Terms and Conditions</a>
    <a href="#">About Us</a>
  </div>
  <p class="footer-para">
    We are an online store that specializes in the gem trade. Our passion for gems and minerals has led us to curate <br>
    a collection of some of the most beautiful and unique gems available. Whether you
    are a seasoned collector or <br> just starting out, we have something for everyone.
    Our gems are handpicked for their quality, and our prices are <br> competitive
    to ensure that you get the best prices. Browse our collection today
    and discover the wonder of gems.</p>
  <p class="copyright-text">Copyright © 2023 Gem Bay, All Rights Reserved.</p>
</div>
